
:root{
    --img-btn-width: 30px;
    --img-width:0; /*скрипт screenshots.js устанавливает значение*/
    /* --img-height: calc(var(--img-width)/1.78 - 22px); */
    --img-border-width:0; /*скрипт screenshots.js устанавливает значение*/

    --author-container-height:29px;
    --author-container-padding-top-btm: 5px;
    --author-container-padding-left: 20px;
}
body{
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
#main-header{
    transition: opacity 0.2s;
}
#content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 100vw; */

}
#closingOthers{
    z-index: var(--header-z-index)+1;
    width: 100vw;
    transition: background-color 0.2s;
    position: fixed;
    top:0;
    left:0;
}
.site-name{
    margin: calc(10vh - 10px) auto;
    color: var(--standart-green);
    text-align: center;
}
#screenshotsBody{
    position: relative;
    width: var(--img-width);
    z-index: var(--header-z-index)+2;
    /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
    user-select: none;
    /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
    touch-action: pan-y;
}
.screenshot{
    max-width: 97%;
    min-width: 97%;
    height: auto;
    border-radius: 20px;
    border: var(--img-border-width) var(--standart-grey) solid;
    width: var(--img-width);
    /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
    display: block;
    pointer-events: none;
    /* Чтобы слайды не сжимались */
    flex-shrink: 0;
    margin: auto;
}

#screenshots{
    width: var(--img-width);
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
}
#need{
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    scroll-snap-type: y mandatory;
}
.screensh-container{
    /* display: inline-block; */
    scroll-snap-align: start;
}

.img-btn{
    position: absolute;
    display: flex;
    border-radius: 360px;
    background-color:#393844d0;
    width: var(--img-btn-width);
    height: var(--img-btn-width);
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    cursor: pointer;
    z-index: calc(var(--header-z-index) + 3);
}
.btn-arrow-right{
    transform: rotate(180deg);
}
.btn-arrow{
    width: auto;
    height: calc(var(--img-btn-width) - (var(--img-btn-width)/1.8));
}
.img-btn:hover{
    background-color: #44413879;
}
.screen__author-container{
    width: fit-content;
    height: var(--author-container-height);
    padding: var(--author-container-padding-top-btm) var(--author-container-padding-left);
    background-color: #393844a2;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    position: relative;
    bottom: calc((var(--author-container-height) + (var(--author-container-padding-top-btm)* 2)) * 1.3);
    /* left: calc(var(--author-container-padding-left) * 2); */
    left: calc(var(--author-container-padding-left) * 1.7);
    gap: 1vw;
    z-index: calc(var(--header-z-index)+3);
}
.screen__author-head{
    width: 25px;
    height: 25px;
    min-width: auto;
    border: none;
    border-radius: 3px;
}
.screen__author-name{
    margin: 0;
    color:white;
}
#authorContainerForMobile{
    display: none;
}
@keyframes animFlipFront {
    0%{
        transform: translateX(calc(100vw + 100px));
    }
    100%{
        transform: translateX(calc(18%-100vw));
    }
}
@media (max-width: 717px){
    header{
        padding: 30px 0px;
    }
}
@media (max-width: 560px){
    .img-btn{
        display: none;
    }
    .screen__author-container{
        display: none;
        bottom: 0;
        left: 0;
    }
    #authorContainerForMobile{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
    }
}